.brand-text{
    animation-name: slideInFromLeft;
    animation-duration: 1s;
}
.brand-image{
    animation-name: slideInFromRight;
    animation-duration: 1s;
}
.iphone-grp{
    animation: beat 5s infinite alternate;
}

/* animations */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes beat {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}